<section id="section-data-cookies">
    <div class="container">
        <div class="row">

            <h3 style="text-align: center; margin-bottom: 5%; margin-top: 5%;">Formulario para practicas con
                almacenamiento de cookies.</h3>

            <form action="/data-cookies" method="post" class="col-12">
                <input type="text" name="firstName" placeholder="Ingrese su primer nombre..." required>
                <input type="text" name="lastName" placeholder="Ingrese su apellido..." required>
                <input type="number" name="age" placeholder="Ingrese su edad..." required>
                <input type="text" name="address" placeholder="Ingrese su domicilio..." required>
                <button class="btn btn-danger">Enviar</button>
            </form>

        </div>
    </div>
</section>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>