<div class="container">

    <h2 class="title-emptyCart"> Carrito vacío. Por favor, agregue algún producto para realizar una compra. </h2>

    <div class="contenedor-emptyCart">
        <img class="img-emptyCart" src="https://i.pinimg.com/564x/10/cd/aa/10cdaa05ddea2d73851c404318d5da41.jpg" alt="Pikachu triste">
    </div>

</div>