<div class="container expirationPage">

    <h4 class="text-center title"> El link de la pagina ha expirado. </h4>

    <p class="texto-redireccion">Sin embargo, <a href="/recoverpassword" class="btn btn-info">acá</a> te dejo otro link para que lo solicites nuevamente </p>

     <div class="img">
        <img class="img-img" src="https://i.pinimg.com/originals/16/ff/d9/16ffd93a1bd6c6e8dc87bdaf8ab559fb.gif" alt="Pikachu festejando">
     </div>

</div>