<div class="container generateLink">

    <h4 class="text-center title"> ¡Felicidades! El link para el restablecimiento de su contraseña ya fue enviado a su
        correo, ¡vaya y compruébelo! </h4>

    <p class="text-center texto"> El link fue generado con exito. Apurate porque expira en 1 hora.</p>

    <div class="img">
        <img class="img-img" src="https://i.pinimg.com/originals/e4/13/ec/e413ecb07ed7b4a433545dd000ea3fe8.gif"
            alt="Eevee happy">
    </div>

</div>