<div>
  <h1 style="font-size: 4rem; text-align: center; margin-top: 40vh"> Hola, soy la ruta predeterminada. La que se encuentra en "/" </h1>
</div>

<div class="text-center" id="socket-data"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>