<section class="section-register-jwt">

    <div class="container">
        <h2 class="text-center">Login de JWT</h2>

        <form action="/login/jwt" method="post" role="form" class="form">
            <input class="form-control my-5" name="email" type="text" placeholder="Tu email..." required>
            <input class="form-control my-5" name="password" type="password" placeholder="Tu password..." required>
            <input type="submit" class="btn btn-danger form-control">
        </form>

    </div>

</section>