<section class="noAutorizado">
    <div class="container ">

            <h3 class="title-noAutorizado">Estando logueado no tenés autorización a acceder a esta página.</h3>
            
                <h4 class="subtitle-noAutorizado">*Para hacerlo, deslogueate abajo, por favor.*</h4>
                <a href="/api/session/logout" class="btn btn-info boton-logout-noAutorizado col-12">Logout</a>

            <div class="contenedor-img-noAutorizado ">
                <img src="https://i.pinimg.com/originals/ce/cc/91/cecc913aee77c99b18d2043dbbd8bd72.gif"
                    alt="Pikachu confundido" class="img-noAutorizado">
            </div>

    </div>
</section>

<script src="/socket.io/socket.io.js"></script>
<script src="../Routes/views.router.js"></script>
<script src="/js/index.js"></script>