<div class="container recover-password">

    <h4 class="text-center title"> Recuperaci칩n de contrase침a </h4>

    <div class="container form">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-center title-form">Ingresa tu email</h3>
                        <p class="text-center title-p"> Te enviaremos un link a tu correo para que puedas reestablecer
                            tu contrase침a. Expira en 1 hora. </p>
                            <div class="form-group">
                                <input type="email" id="valueEmail" class="form-control" placeholder="Ejemplo@hotmail.com" name="email" required>
                            </div>
                            <div class="form-group">
                                <p class="texto-form"> * Debe ser un email ya registrado * </p>
                            </div>
                            <a onclick="recoverPassword()" class="btn btn-primary btn-block">Enviar link de restablecimiento de
                                contrase침a</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>