<section class="section-login-error">
    <div class="container">

        <h4 style="margin-top: 7%;" class="titlee">Error al registrarte</h4>
        <h5 class="section-login-error-subtitle"> *Email actualmente en uso.* </h5>

        <div class="login-error">
            <img src="/img/pika-ungry.gif" alt="Pikachu triste" class="login-error-img">
        </div>

    </div>
</section>