<div class="container successChangePassword">

    <h4 style="margin-top: 7%;" class="titlee"> Exito al cambiar tu contraseña </h4>

    <div class="successChangePassword-contenedor">
        <div class="img">
            <img class="img-img" src="https://i.pinimg.com/originals/51/7d/e9/517de9ed630fb905a785c4b0f447957d.gif"
                alt="">
        </div>
    </div>

</div>