<div class="container successChangePassword">

    <h4 class="title"> Exito al cambiar tu contraseña </h4>

    <div class="img">
        <img class="img-img" src="https://i.pinimg.com/originals/51/7d/e9/517de9ed630fb905a785c4b0f447957d.gif" alt="">
    </div>

</div>