
<section>
    <div class="container">
        <h2 class="text-center" style="margin-top: 4%; margin-bottom: 7%"> Ingreso de token JWT </h2>
        <form id="tokenForm" method="get">
            <input type="text" id="tokenInput" class="form-control my-2" placeholder="Ingrese su token" required>
            <input type="submit" class="btn btn-danger">
        </form>
    </div>
</section>



