<footer class=" footer">
    <div class="contenedor-icons">
        <div class="cont-img">
            <a target="_blank" href="https://www.facebook.com/PokemonOficialLatAm">
                <img src="/img/facebook-icon.png" alt="Icono del ecommerce" class="icons-img">
            </a>
        </div>
        <div class="cont-img">
            <a target="_blank" href="https://www.instagram.com/pokemon/?hl=es">
                <img src="/img/instagram-icon.png" alt="Icono del ecommerce" class="icons-img">
            </a>
        </div>
        <div class="cont-img">
            <a target="_blank"
                href="https://twitter.com/Pokemon?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
                <img src="/img/twitter-icon.png" alt="Icono del ecommerce" class="icons-img">
            </a>
        </div>
        <div class="cont-img">
            <a target="_blank" href="https://www.tiktok.com/@pokemon">
                <img src="/img/tiktok-icon.png" alt="Icono del ecommerce" class="icons-img">
            </a>
        </div>
        <div class="cont-img">
            <a target="_blank" href="https://www.youtube.com/@PokemonOficialES">
                <img src="/img/youtube-icon.png" alt="Icono del ecommerce" class="icons-img">
            </a>
        </div>
    </div>
    <div class="contenedor-options">
        <a href="https://www.pokemon.com/el" class="texto">Home</a>
        <a href="https://www.pokemon.com/el/noticias-pokemon" target="_blank" class="texto">News</a>
        <a href="https://www.pokemon.com/el/episodios-pokemon" target="_blank" class="texto">TV Pokémon</a>
        <a href="https://corporate.pokemon.com/es-mx/" target="_blank" class="texto">About</a>
        <a href="https://corporate.pokemon.com/es-mx/careers/" target="_blank" class="texto">Work With Us</a>
    </div>
    <div class="contenedor-mine">
        <p class="datosMios"> Copyright ©2023; Designed by <span class="datosMios-span"> LUCAS CABRAL </span> </p>
    </div>
</footer>