<header class="header-oficial container-fluid">
        <div class="logo">
            <a class="sections-a" href="/home-mongodb">
                <img src="/img/poke-logo.png" alt="Logo" class="logo-img">
            </a>
        </div>
        <div class="sections">
            <ul class="sections-ul">
                <a class="sections-a" href="/home-mongodb">
                    <li class="sections-li">Productos</li>
                </a>
                <a class="sections-a" href="/api/session/current">
                    <li class="sections-li">Mis datos</li>
                </a>
                <a class="sections-a" href="/completed/purchase">
                    <li class="sections-li">Historial de compras</li>
                </a>
                <a class="sections-a" href="/api/users/premium">
                    <li class="sections-li">Cambio de rol</li>
                </a>
                <a class="sections-a" href="/api/users/documents">
                    <li class="sections-li">Carga de fotos</li>
                </a>
            </ul>
        </div>
        <div class="logout">
            <a class="sections-a" href="/api/session/logout">
                <p class="logout-button">Logout </p>
            </a>
        </div>
    </header>